<a href="https://colab.research.google.com/github/vishal-Astra/shell_validate/blob/main/case_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from google.colab import files
import pandas as pd
import numpy as np

In [ ]:
case = pd.read_csv("/content/sample_data/case (2).csv", error_bad_lines = False)

print("number of rows and columns in available book data: ", case.shape)
case.info

number of rows and columns in available book data:  (449, 12)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

<bound method DataFrame.info of        ID                                verdict  \
0       1                           Natural Life
1       2     Illinois Department of Corrections
2       4                           Natural Life
3       5                           Natural Life
4       8     Illinois Department of Corrections
..    ...                                    ...
444  1465                              Probation
445  1466     Illinois Department of Corrections
446  1467     Illinois Department of Corrections
447  1468     Illinois Department of Corrections
448  1470  Cook County Department of Corrections

                                                  case  average_years  \
0                                  FIRST DEGREE MURDER           4.57
1                                        HOME INVASION           4.49
2                                  FIRST DEGREE MURDER           4.42
3                                  FIRST DEGREE MURDER           4.56
4                                        HOME INVASION           4.78
..                                                 ...            ...
444                     THEFT/UNAUTHD CONTROL/>300<10K           4.21
445                   MANU/DEL CANNABIS 500-2000 GRAMS           4.40
446  [POSSESSION OF CONTROLLED SUBSTANCE WITH INTEN...           4.17
447                                           BURGLARY           4.00
448                              THEFT/BY THREAT/<$300           4.31

           isbn        isbn13 language_code    num_pages  case_count  \
0     439785960  9.780000e+12           eng          652     2095690
1     439358078  9.780000e+12           eng          870     2153167
2     439554896  9.780000e+12           eng          352        6333
3    043965548X  9.780000e+12           eng          435     2339585
4     439682584  9.780000e+12           eng         2690       41428
..          ...           ...           ...          ...         ...
444   226307832  9.780000e+12           eng          307         560
445  1590171802  9.780000e+12           eng          312         679
446   553213636  9.780000e+12         en-US          432        1464
447   226307824  9.780000e+12           eng          255         541
448   226307816  9.780000e+12           eng          264         790

     text_verdict_count                             publication_date  \
0                 27591  https://catalog.data.gov/dataset/sentencing
1                 29221  https://catalog.data.gov/dataset/sentencing
2                   244  https://catalog.data.gov/dataset/sentencing
3                 36325  https://catalog.data.gov/dataset/sentencing
4                   164  https://catalog.data.gov/dataset/sentencing
..                  ...                                          ...
444                   8  https://catalog.data.gov/dataset/sentencing
445                  85  https://catalog.data.gov/dataset/sentencing
446                  21  https://catalog.data.gov/dataset/sentencing
447                  15  https://catalog.data.gov/dataset/sentencing
448                  12  https://catalog.data.gov/dataset/sentencing

                   publisher
0       District 6 - Markham
1       District 6 - Markham
2       District 6 - Markham
3       District 6 - Markham
4       District 6 - Markham
..                       ...
444     District 1 - Chicago
445      District 2 - Skokie
446      District 2 - Skokie
447  District 5 - Bridgeview
448  District 5 - Bridgeview

[449 rows x 12 columns]>

In [ ]:
print("Number of book verdict: ", len(case["verdict"].unique()))
print("book verdict: ", case["verdict"].unique())

Number of book verdict:  11
book verdict:  ['Natural Life' 'Illinois Department of Corrections' 'Death'
 '710/410 Probation' 'Probation' 'Cook County Boot Camp'
 'Cook County Department of Corrections' 'Court Supervision'
 'Conditional Discharge' 'Inpatient Mental Health Services' nan]

In [ ]:
verdict = case[["isbn", "average_years", "case_count"]]
verdict

           isbn  average_years  case_count
0     439785960           4.57     2095690
1     439358078           4.49     2153167
2     439554896           4.42        6333
3    043965548X           4.56     2339585
4     439682584           4.78       41428
..          ...            ...         ...
444   226307832           4.21         560
445  1590171802           4.40         679
446   553213636           4.17        1464
447   226307824           4.00         541
448   226307816           4.31         790

[449 rows x 3 columns]

In [ ]:
verdict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   isbn           449 non-null    object
 1   average_years  449 non-null    float64
 2   case_count     449 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.6+ KB

In [ ]:
verdict.describe()

       average_years    case_count
count     449.000000  4.490000e+02
mean        3.927127  6.193210e+04
std         0.390244  2.836210e+05
min         0.000000  0.000000e+00
25%         3.770000  1.450000e+02
50%         3.930000  1.426000e+03
75%         4.110000  1.075200e+04
max         4.780000  2.418736e+06

In [ ]:
print("amount ISBN: ", len(verdict["isbn"].unique()))
print("amount verdict: ", len(verdict))

amount ISBN:  449
amount verdict:  449

In [ ]:
case.groupby("isbn").sum()

,ID,average_years,isbn13,num_pages,case_count,text_verdict_count
isbn,,,,,,
006019250X,872,3.86,9.780000e+12,198,251,32
006076273X,68,3.83,9.780000e+12,14,55,12
006076287X,132,3.48,9.780000e+12,336,76,9
006078671X,205,4.11,9.780000e+12,352,3086,237
006123205X,1281,3.55,9.780000e+12,2,43,3
...,...,...,...,...,...,...
975599518,681,3.09,9.780000e+12,571,1601,284
976540606,9,3.74,9.780000e+12,152,19,1
977616657,1014,3.58,9.780000e+12,256,173,14
99498189,931,4.11,9.780000e+12,497,2122,256
99771519,933,4.11,9.780000e+12,497,4189,462

In [ ]:
all_verdict_rate = verdict
all_verdict_rate

           isbn  average_years  case_count
0     439785960           4.57     2095690
1     439358078           4.49     2153167
2     439554896           4.42        6333
3    043965548X           4.56     2339585
4     439682584           4.78       41428
..          ...            ...         ...
444   226307832           4.21         560
445  1590171802           4.40         679
446   553213636           4.17        1464
447   226307824           4.00         541
448   226307816           4.31         790

[449 rows x 3 columns]

In [ ]:
all_verdict_case = pd.merge(all_verdict_rate, case[["isbn", "case"]], on="isbn", how="left")
all_verdict_case

           isbn  average_years  case_count    case
0     439785960           4.57     2095690    rape
1     439358078           4.49     2153167    rape
2     439554896           4.42        6333    rape
3    043965548X           4.56     2339585    rape
4     439682584           4.78       41428    rape
..          ...            ...         ...     ...
444   226307832           4.21         560    rape
445  1590171802           4.40         679    rape
446   553213636           4.17        1464  murder
447   226307824           4.00         541  murder
448   226307816           4.31         790  murder

[449 rows x 4 columns]

In [ ]:
all_case = pd.merge(all_verdict_case, case[["isbn", "verdict"]], on="isbn", how="left")
all_case

,isbn,average_years,case_count,case,verdict
0,439785960,4.57,2095690,rape,Natural Life
1,439358078,4.49,2153167,rape,Illinois Department of Corrections
2,439554896,4.42,6333,rape,Natural Life
3,043965548X,4.56,2339585,rape,Natural Life
4,439682584,4.78,41428,rape,Illinois Department of Corrections
...,...,...,...,...,...
444,226307832,4.21,560,rape,Probation
445,1590171802,4.40,679,rape,Illinois Department of Corrections
446,553213636,4.17,1464,murder,Illinois Department of Corrections
447,226307824,4.00,541,murder,Illinois Department of Corrections
448,226307816,4.31,790,murder,Cook County Department of Corrections

In [ ]:

all_case.isnull().sum()

isbn             0
average_years    0
case_count       0
case             0
verdict          1
dtype: int64

In [ ]:
fix_case = all_case.sort_values("isbn", ascending=True)
fix_case

,isbn,average_years,case_count,case,verdict
290,006019250X,3.86,251,theft/murder,Illinois Department of Corrections
40,006076273X,3.83,55,theft,Cook County Boot Camp
78,006076287X,3.48,76,theft/murder/Alan Lee,Illinois Department of Corrections
111,006078671X,4.11,3086,rape,Illinois Department of Corrections
370,006123205X,3.55,43,murder/rape,Illinois Department of Corrections
...,...,...,...,...,...
247,975599518,3.09,1601,rape,Illinois Department of Corrections
5,976540606,3.74,19,rape,Illinois Department of Corrections
320,977616657,3.58,173,snatching,Illinois Department of Corrections
300,99498189,4.11,2122,rape,Illinois Department of Corrections
302,99771519,4.11,4189,murder,Illinois Department of Corrections

In [ ]:
print("ISBN: ", len(fix_case.isbn.unique()))
print("Title: ", len(fix_case["verdict"].unique()))

ISBN:  449
Title:  11

In [ ]:
preparation = fix_case
preparation.sort_values("isbn")

,isbn,average_years,case_count,case,verdict
290,006019250X,3.86,251,theft/murder,Illinois Department of Corrections
40,006076273X,3.83,55,theft,Cook County Boot Camp
78,006076287X,3.48,76,theft/murder/Alan Lee,Illinois Department of Corrections
111,006078671X,4.11,3086,rape,Illinois Department of Corrections
370,006123205X,3.55,43,murder/rape,Illinois Department of Corrections
...,...,...,...,...,...
247,975599518,3.09,1601,rape,Illinois Department of Corrections
5,976540606,3.74,19,rape,Illinois Department of Corrections
320,977616657,3.58,173,snatching,Illinois Department of Corrections
300,99498189,4.11,2122,rape,Illinois Department of Corrections
302,99771519,4.11,4189,murder,Illinois Department of Corrections

In [ ]:
preparation = preparation.drop_duplicates("isbn")
preparation

,isbn,average_years,case_count,case,verdict
290,006019250X,3.86,251,theft/murder,Illinois Department of Corrections
40,006076273X,3.83,55,theft,Cook County Boot Camp
78,006076287X,3.48,76,theft/murder/Alan Lee,Illinois Department of Corrections
111,006078671X,4.11,3086,rape,Illinois Department of Corrections
370,006123205X,3.55,43,murder/rape,Illinois Department of Corrections
...,...,...,...,...,...
247,975599518,3.09,1601,rape,Illinois Department of Corrections
5,976540606,3.74,19,rape,Illinois Department of Corrections
320,977616657,3.58,173,snatching,Illinois Department of Corrections
300,99498189,4.11,2122,rape,Illinois Department of Corrections
302,99771519,4.11,4189,murder,Illinois Department of Corrections

In [ ]:
data = preparation.drop(columns=["case_count"])
data.sample(5)

,isbn,average_years,case,verdict
29,1557344493,4.00,rape,Probation
425,62513346,3.31,theft,Illinois Department of Corrections
64,1581805632,3.78,murder/rape,Illinois Department of Corrections
314,552151769,3.71,theft,Illinois Department of Corrections
337,60193395,3.74,theft,Illinois Department of Corrections

In [ ]:

tf = TfidfVectorizer()


tf.fit(data["case"]) 
 

tf.get_feature_names()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['alan', 'lee', 'murder', 'rape', 'snatching', 'theft']

In [ ]:

tfidf_matrix = tf.fit_transform(data["case"])

tfidf_matrix.shape

(449, 6)

In [ ]:

tfidf_matrix.todense()

matrix([[0.        , 0.        , 0.75393   , 0.        , 0.        ,
         0.65695476],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         1.        ],
        [0.64721896, 0.64721896, 0.30365248, 0.        , 0.        ,
         0.26459478],
        ...,
        [0.        , 0.        , 0.        , 0.        , 1.        ,
         0.        ],
        [0.        , 0.        , 0.        , 1.        , 0.        ,
         0.        ],
        [0.        , 0.        , 1.        , 0.        , 0.        ,
         0.        ]])

In [ ]:
 
#pd.DataFrame(
 #   tfidf_matrix.todense(), 
  #  columns=tf.get_feature_names(),
   # index=data.verdict
#).sample(22, axis=1).sample(10, axis=0)

In [ ]:

cosine_sim = cosine_similarity(tfidf_matrix) 
cosine_sim

array([[1.        , 0.65695476, 0.40275952, ..., 0.        , 0.        ,
        0.75393   ],
       [0.65695476, 1.        , 0.26459478, ..., 0.        , 0.        ,
        0.        ],
       [0.40275952, 0.26459478, 1.        , ..., 0.        , 0.        ,
        0.30365248],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.75393   , 0.        , 0.30365248, ..., 0.        , 0.        ,
        1.        ]])

In [ ]:

cosine_sim_df = pd.DataFrame(cosine_sim, index=data['verdict'], columns=data['verdict'])
print('Shape:', cosine_sim_df.shape)

cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape: (449, 449)

verdict,Probation,Illinois Department of Corrections,Illinois Department of Corrections,Illinois Department of Corrections,Illinois Department of Corrections
verdict,,,,,
Illinois Department of Corrections,0.000000,0.000000,0.000000,0.000000,0.000000
Cook County Boot Camp,1.000000,0.000000,0.000000,1.000000,0.000000
Illinois Department of Corrections,0.000000,0.728565,0.000000,0.000000,1.000000
Illinois Department of Corrections,0.000000,1.000000,0.684977,0.000000,0.728565
Illinois Department of Corrections,1.000000,0.000000,0.000000,1.000000,0.000000
Probation,0.656955,0.516425,0.753930,0.656955,0.000000
Illinois Department of Corrections,0.000000,1.000000,0.684977,0.000000,0.728565
Illinois Department of Corrections,0.000000,0.000000,0.000000,0.000000,0.000000
NaN,0.000000,0.684977,1.000000,0.000000,0.000000
Cook County Department of Corrections,0.656955,0.516425,0.753930,0.656955,0.000000

In [ ]:
def case_recommendations(case_verdict, similarity_data=cosine_sim_df, items=data[['verdict', 'case']], k=5):


    index = similarity_data.loc[:,case_verdict].to_numpy().argpartition(
        range(-1, -k, -1))
    

    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    

    closest = closest.drop(case_verdict, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [ ]:
verdict="Natural Life"
verdict="Probation"
verdict="Death"
verdict="Illinois Department of Corrections"
#review="Forfeit"
data[data.verdict.eq(verdict)]

           isbn  average_years         case       verdict
3    043965548X           4.56         rape  Natural Life
215   307281701           3.68  murder/rape  Natural Life
2     439554896           4.42         rape  Natural Life
0     439785960           4.57         rape  Natural Life
34    670059676           3.60       murder  Natural Life
172   679722955           3.64  murder/rape  Natural Life
10    739322206           4.22  murder/rape  Natural Life